
<%- include("partials/header.ejs") -%>


<h1 class="centered" >Welcome to my blog</h1>
<p class="opener" > <%= homePageContent %></p>


<%  postsAdded.forEach(function(post){ %>

   <div class="post">
   <h1 class="opaque"> <%= post.title %></h1>
    <p  class="opaque"> <%= post.body.substring(0,200) + "..." %> <a href="posts/<%= post.title %>">Read More</a></p>

  </div>

<% }); %>



<%- include("partials/footer.ejs") -%>
